body{
    margin: 0;
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
}
h1, h2{
    color: rgb(109, 179, 6);
    text-align: center;
    font-weight: 850;
}
p {
    margin-left: 10px;
}
button{
    border: solid green 2px;
    background-color: white;
    border-radius: 10%; 
     padding: 10px; /*espaço de dentro */
    color: green;
}